
<div class="login">
<%= form_for(:session, url: login_path, remote: true) do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control', id: 'login_email' %>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :remember_me, class: "checkbox inline" do %>
    <%= f.check_box :remember_me %>
    <span>Remember me on this computer</span>
  <% end %>
  <%= f.submit "Log In", class: 'ajax-submit btn btn-primary' %>
 
  <% end %>
  </div>
