<div class="row">
<div class="col-md-6 offset-md-3">
<%= form_for(@user, remote: true) do |f| %>
<%# render 'shared/error_messages', f.object %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.label :name %>
  <%= f.text_field :name, class:'form-control' %>
  <%= f.label :email %>
  <%= f.text_field :email, class:'form-control' %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, class:'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class:'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class:'form-control' %>

  <%= f.submit 'Create my account', class: 'ajax-submit btn btn-success' %>
<% end %>
</div>
</div>  