 <nav id="navheader" class="navbar navbar-expand-sm">
     <%= link_to "Crypto Me", root_path, class:'navbar-brand' %>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
         aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-label">Menu</span>
    <span class="sr-only">Toggle menu navigation</span>
    <span class="icon-bar"</span>
      <span class="icon-bar"</span>
        <span class="icon-bar"</span>
  </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav ml-auto">

           <% if logged_in? %>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-link nav-item dropdown-toggle " data-toggle="dropdown"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
            <ul class="dropdown-menu" style="left: auto;" role="menu">
              <%= link_to "Dashboard", alerts_path, class:'dropdown-item' %>
               <%= link_to "Currency", search_path, class:'dropdown-item' %>
               <div class="dropdown-divider"></div>
                <%= link_to "Settings", edit_user_path(current_user), class:'dropdown-item disabled' %></li>
           </ul>
          </li>
          <%= link_to "About", about_path, class:'nav-link nav-item' %>
        <%= link_to "Logout", logout_path,  method: :delete , class:'nav-link nav-item' %>
           <% else %>
            <%= link_to "Login", login_path, class:'nav-link nav-item' %>
            <%= link_to "Sign Up", signup_path, class:'nav-link nav-item' %>
          <% end %>
        </div>
      </div>
  </nav>