<div class="container">
  <h1>Welcome <%= "#{current_user.name}"%></h1>
  <h3>Your Alerts!</h3>
      <table class="table table-bordered table-hover table-responsive">
        <thead>
        <tr>
          <th>Symbol</th>
          <th>Price (USD)</th>
          <th>Starting Price</th>
          <th>Percent Change</th>
          <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        <% @alerts.each do |alert| %>
          <tr>
            <td><%= alert.alert_currency%></td>
            <td><%= alert.get_value %></td>
            <td><%= alert.alert_value %></td>
            <td><%= alert.percent_changed.round(2) %></td>
            <td>
              <%= link_to "Edit", edit_alert_path(alert), class:"btn btn-info", remote: true  %>
              <%= link_to "Delete", alert, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?'}  %>
            </td>
        <% end %>
          </tr>
          </tbody>
      </table>
  </div>
<%= render :partial => 'shared/modal' %>

