
<table id="search" class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Cryptocurrency</th>
      <th>Price <span>(<%= fa_icon "usd" %>)</span></th>
      <th>Price <span>(<%= fa_icon "btc" %>)</span></th>
      <th>Hourly <span>(<%= fa_icon "percent" %>)</span></th>
      <th>Weekly <span>(<%= fa_icon "percent" %>)</span></th>
      <th>Daily <span>(<%= fa_icon "percent" %>)</span></th>
      <th></th>
    </thead>
    <% @crypto.each do |result| %>
      <tr>
        <td><%= result['rank'] %></td>
        <td 
          data-toggle="tooltip"
          title= <%= "#{result['symbol']}" %> 
          data-placement="top"><%= result['name'] %>
        </td>
      <td><%= number_to_currency(result['price_usd']) %></td>
      <td><%= result['price_btc'] %> <span><%= fa_icon "btc" %></span></td>
      <td class="crypto-delta"><%= result['percent_change_1h'] %></td>
      <td class="crypto-delta"><%= result['percent_change_24h'] %></td>
      <td class="crypto-delta"><%= result['percent_change_7d'] %></td>
      <td><%= link_to "Alert Me", "#{new_alert_path}?crypto_id=#{result["id"]}&currency=#{result['name']}&currency_value=#{result['price_usd']}",class:"btn btn-success",  remote: true %>
      </td>
    </tr>
    <% end %>
</table>
<%= render :partial => 'shared/modal' %>
