
<table id="alerts" class="table table-bordered table-hover table-responsive">
  <thead class="thead-default">
    <tr>
      <th>Rank</th>
      <th>Price (USD)</th>
      <th>Price (Bitcoin)</th>
      <th>24 Hour Volume (USD)</th>
      <th>Market Cap (USD)</th>
      <th>Available Supply</th>
      <th>Total Supply</th>
      <th>1 Hr %&Delta;</th>
      <th>1 Day %&Delta;</th>
      <th>7 Day %&Delta;</th>
      <th></th>
      
    </thead>
    <tbody>

      <% @crypto.each do |result| %>
       <tr>
            <!--    Row: Rank   -->
            <td><%= result['rank'] %></td>
            <!--    Row: Price(USD)   -->
            <td ><%= result['price_usd'] %></td>
            <!--    Row: Price(BTC)  -->
            <td><%= result['price_btc']%></td>
            <!--    Row: 24 Hour Volume   -->
            <td><%= result['24h_volume_usd'] %></td>
            <!--    Row: Market Cap(USD)   -->
            <td><%= result['market_cap_usd'] %></td>
            <!--    Row: (Available Supply)   -->
            <td><%= result['available_supply'] %></td>
            <!--    Row: Total Supply   -->
            <td><%= result['total_supply'] %></td>
            <!--    
            Row: Percent Change in 1 Hr   -->
            <td><%= result['percent_change_1h'] %></td>
            <!--    Row: Percent Change in 24 Hours   -->
            <td><%= result['percent_change_24h'] %></td>
            <!--    Row:  Percent Change in 7 Days  -->
            <td><%= result['percent_change_7d'] %></td>
            <td><%= link_to "Alert Me", "#{new_alert_path}?crypto_id=#{result["id"]}&currency=#{result['name']}&currency_value=#{result['price_usd']}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
